name: KWU-SWE prod CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run chmod to make gradlew executable
        run: chmod +x ./swe/gradlew

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'
          
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean build -x test
          build-root-directory: swe
          
      # env setting   
      - name: Set environment values
        shell: bash
        run: |
          printf "%s" "${{ secrets.ENV }}" > ./swe/.env
      - name: Show .env file
        run: |
          ls -al ./swe
          cat ./swe/.env || echo "No .env found"

      # DockerHub 로그인
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 빌드 결과 확인
      - name: Show build output
        run: |
          ls -l ./swe/build/libs

      # Docker 이미지 빌드 및 푸시
      - name: Build Docker image using Docker Compose
        run: |
          docker compose -f ./swe/docker-compose.yml build
          docker tag hannoi/kwu-swe-repository hannoi/kwu-swe-repository:${GITHUB_SHA::7}
          docker push hannoi/kwu-swe-repository:${GITHUB_SHA::7}

      # Google Cloud 인증
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # gcloud 설치 + 프로젝트 설정
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # Cloud Run 배포
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy kwu-swe-service \
            --image=docker.io/hannoi/kwu-swe-repository:${GITHUB_SHA::7} \
            --region=asia-northeast3 \
            --platform=managed \
            --allow-unauthenticated \
            --set-env-vars ACTIVE_LOCAL_PROFILE=prod
